<template>
  <div v-if=group_namespaces>
    <div v-for="group in groups">
      <p>{{ group.namespace }}</p>
      <div class="tile-grid">
        <pipeline-tile
            class="tile"
            v-for="pipeline in group.pipelines"
            :key=pipeline.details.id
            :pipeline=pipeline
            :name=pipeline.projectName
            :show_namespace=false
            :show_branches=show_branches
            :gitlab=gitlab
            :show_history=show_history
        />
      </div>
    </div>
  </div>
  <div v-else class="tile-grid">
    <pipeline-tile
        class="tile"
        v-for="pipeline in pipelines"
        :key=pipeline.details.id
        :pipeline=pipeline
        :name=pipeline.projectName
        :show_namespace=true
        :gitlab=gitlab
        :show_branches=show_branches
        :show_history=show_history
    />
  </div>
</template>

<script lang="ts">

import Vue from 'vue'
import PipelineTile from './PipelineTile.vue'
import {Pipeline} from '@/interfaces'
import GitLab from '@/clients/gitlab'

interface PipelineGroup {
  namespace: string,
  pipelines: Pipeline[],
}

export default Vue.extend({
  name: 'PipelineTileGrid',
  components: {
    PipelineTile,
  },
  props: {
    gitlab: Object as () => GitLab,
    group_namespaces: Boolean,
    pipelines: Array as () => Pipeline[],
    show_branches: Boolean,
      show_history: Boolean,
  },
  computed: {
    groups(): PipelineGroup[] {
      const groups = new Map<string, PipelineGroup>()

      for (const pipeline of this.pipelines) {
        const namespace: string = pipeline.namespace
        if (groups.has(namespace)) {
          const group: PipelineGroup | undefined = groups.get(namespace)
          if (group) {
            group.pipelines.push(pipeline)
          }
        } else {
          groups.set(namespace, {
            namespace: namespace,
            pipelines: [pipeline],
          })
        }
      }

      return Array.from(groups.values())
    },
  },
})
</script>

<style scoped lang="scss">

.tile-grid {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  .tile {
    display: flex;
    width: 28rem;
    height: 8rem;
    padding: 0.5rem;
  }
}
</style>
