<template>
  <div id="app">
    <ContributeLink/>
    <Favicon :pipelines="pipelines"/>
    <FunSnow v-if="config.alpha_show_snow && show_snow_fun"/>
    <background/>

    <b-button-close
        class="options"
        @click="openConfiguration"
        v-if="!configuring"
        v-b-tooltip.hover
        placement="left"
        title="Open options"
        aria-label="options"
    >
      <v-icon name="cog"/>
    </b-button-close>

    <configuration-form
        v-if="configuring"
        class="configuration-form"
        @onSubmit="onSubmit"
        :config="config"
    />

    <div class="fluid" v-else>
      <div v-if="error" class="error-message">
        <v-icon name="exclamation-triangle" class="icon"></v-icon>
        <h3>{{ error }}</h3>
        <p>The dashboard will automatically retry every 60 seconds.</p>
        <b-button
            size="lg"
            variant="outline-danger"
            @click="retry"
        >Retry now
        </b-button>
      </div>

      <div class="fluid" v-else>
        <div v-if="loading">
          <loading-spinner/>
        </div>
        <div v-else class="tiles fluid" ref="tiles">
          <pipeline-tile-grid
              :pipelines="pipelines"
              :group_namespaces=config.group_namespaces
              :gitlab="gitlab"
              :show_history=config.beta_show_history
          />
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import ContributeLink from './components/ContributeLink.vue'
import Background from './components/Background.vue'
import ConfigurationForm from './components/ConfigurationForm.vue'
import Favicon from './components/Favicon.vue'
import LoadingSpinner from './components/LoadingSpinner.vue'
import PipelineTile from './components/PipelineTile.vue'
import PipelineTileGrid from './components/PipelineTileGrid.vue'
import storage from './lib/storage'
import GitLab from './clients/gitlab'
import is_christmas_snowtime from './clients/fun_show'
import {Config, GitLabBranch, GitLabGroup, GitLabPipelineDetails, GitLabProject, Pipeline} from '@/interfaces'
import Vue from 'vue'
import FunSnow from "@/components/FunSnow.vue";
import GitlabService from "@/lib/GitlabService";

const defaultConfig: Config = {
  beta_order_by_failures_first: false,
  beta_show_only_protected_branches: false,
  beta_show_scheduled_builds: false,
  alpha_show_snow: true,
    beta_show_history: true,

  url: 'https://gitlab.com',
  token: '',
  groups: '',
  projects: '',
  group_namespaces: true
}
const userConfig = storage.get('config') || {}

export default Vue.extend({
  name: 'app',
  components: {
    Background,
    ConfigurationForm,
    ContributeLink,
    Favicon,
    FunSnow,
    LoadingSpinner,
    PipelineTile,
    PipelineTileGrid,
  },
  data: () => ({
    config: {
      ...defaultConfig,
      ...userConfig,
    } as Config,

    gitlab: null as null | GitLab,
    projects: null as null | GitLabProject[],
    pipelines: [] as Pipeline[],
    pipelinePoll: null as any | number,
    projectPoll: null as any,
    retryPoll: null as any,
    showConfiguration: false,
    error: null as null | string | Error,
    cache_protected_branches_per_project: new Map<number, GitLabBranch[]>(),
    cache_projects_failed: new Map<number, Date>()
  }),
  computed: {
    configuring: function () {
      return this.showConfiguration ||
          !this.config.token ||
          !this.config.url ||
          (!this.config.groups && !this.config.projects)
    },
    loading: function () {
      return this.pipelines.length == 0
    },
    show_snow_fun: is_christmas_snowtime
  },
  watch: {
    async configuring(configuring: boolean) {
      if (!configuring) {
        await this.pollProjects()
      }
    },
    async projects(projects: undefined | GitLabProject[]) {
      if (projects) {
        await this.pollPipelines()
        this.stopPollingRetry()
      }
    },
  },
  methods: {
    retry() {
      this.error = null
      this.projects = null
      this.pollProjects()
    },
    async pollProjects() {
      this.stopPollingPipelines()
      await this.loadProjects(this.config)
    },
    async pollPipelines() {
      this.stopPollingPipelines()
      await this.loadPipelines()
      this.pipelinePoll = setInterval(() => {
        this.loadPipelines()
      }, (this.config.beta_show_history ? 30 : 5) * 1000)
    },
    autoRetry() {
      this.retryPoll = setInterval(
          () => this.retry(), 60 * 1000)
    },
    stopPollingProjects() {
      if (this.projectPoll) {
        window.clearInterval(this.projectPoll)
      }
    },
    stopPollingPipelines() {
      if (this.pipelinePoll) {
        window.clearInterval(this.pipelinePoll)
      }
    },
    stopPollingRetry() {
      if (this.retryPoll) {
        window.clearInterval(this.retryPoll)
      }
    },
    openConfiguration() {
      this.showConfiguration = true
    },
    onSubmit(formConfig: Config) {
      this.stopPollingRetry()
      this.error = null
      this.pipelines = []
      this.projects = null
      this.showConfiguration = false
      this.config = formConfig
      storage.set('config', this.config)
    },
    splitNames(names: string) {
      return names.split(';')
          .map((part) => part.trim())
          .filter((part) => part !== '')
    },
    async loadProjects(config: Config) {
      try {
        this.gitlab = new GitLab(config.url, config.token)
        const groups = await this.getGroupsFromConfig(config.groups)
        const groupProjects = await this.getGroupsProjects(groups)
        const userProjects = await this.getProjectsFromConfig(config.projects)
        this.projects = groupProjects.concat(userProjects).flatMap((a: any) => a)

        // deduplicate projects
        const project_id_map = new Map<number, GitLabProject>()
        this.projects.map(p => {
          project_id_map.set(p.id, p)
        })
        this.projects = Array.from(project_id_map.values())

        if (this.projects.length === 0) {
          this.setError('Could not find any projects.')
        }
      } catch (err) {
        this.handleError(err)
      }
    },
    async loadPipelines() {
      if (this.projects) {//&& this.projects.length > 0) {
        this.pipelines = await this.getProjectsPipelines(this.projects)
      }
    },
    async getGroupsFromConfig(names: string) {
      const splitNames = this.splitNames(names)
      const groups = await Promise.all(splitNames.map((name: string) => {
        return this.gitlab!.searchGroups(name)
      }))
      return groups.flatMap((a) => a)
    },
    async getProjectsFromConfig(names: string) {
      const splitNames = this.splitNames(names)
      const projects = await Promise.all(splitNames.map((name: string) => {
        return this.gitlab!.searchProjects(name, {search_namespaces: true})
      }))
      return projects.flatMap((a) => a)
    },
    enrichManualPipelinesWithStatusFromJobs: function (allPipelineDetails: GitLabPipelineDetails[], project: GitLabProject): Promise<Pipeline> {
        const pipelineDetails = allPipelineDetails[0];

        const history = allPipelineDetails.length > 1 ? allPipelineDetails.slice(1) : [];
      if (pipelineDetails.status == "manual") {
        const status_counter = {
          canceled: 0,
          failed: 0,
          skipped: 0
        }
        const scopes = Object.keys(status_counter);
        return this.gitlab!.getPipelineJobs(project.id, pipelineDetails.id, scopes)
            .then(
                jobs => {
                  jobs.map(job => {
                    switch (job.status) {
                      case 'failed':
                        status_counter.failed++;
                        break
                      case 'skipped':
                        status_counter.skipped++;
                        break
                      case 'canceled':
                        status_counter.canceled++;
                        break
                      default:
                        console.warn("unknown status: " + job.status)
                    }
                  })

                  if (status_counter.failed > 0) {
                    pipelineDetails.status = "failed"
                  } else {
                    if (status_counter.skipped > 0) {
                      pipelineDetails.status = "skipped"
                    } else {
                      if (status_counter.canceled > 0) {
                        pipelineDetails.status = "canceled"
                      } else {
                        pipelineDetails.status = "success"
                      }
                    }
                  }
                }
            )
            .then(() => Promise.resolve({
              details: pipelineDetails,
              projectName: project.name,
              namespace: project.namespace.full_path,
              hint: "manual => status derived from most significant job",
                history: history
            } as Pipeline))
      }
      return Promise.resolve({
        details: pipelineDetails,
        projectName: project.name,
        namespace: project.namespace.full_path,
          history: history
      } as Pipeline)
    },
    avoidTooManyFailedRequests: function (promise_call: () => Promise<GitLabPipelineDetails[]>, project: GitLabProject): Promise<Pipeline> {
      const last_time_if_failed = this.cache_projects_failed.get(project.id)
      if (last_time_if_failed) {
        const wait_milliseconds_before_retry = 600 * 1000
        const now = new Date().getTime()
        const since_diff = now - last_time_if_failed.getTime();
        if (since_diff >= wait_milliseconds_before_retry) {
          console.log("lets retry " + project.id + " " + project.name)
          this.cache_projects_failed.delete(project.id)
        } else {
          // console.log("returns empty for " + project.id)
          return Promise.resolve({} as Pipeline)
        }
      }

      return promise_call()
          .then(
              pipelineDetails => this.enrichManualPipelinesWithStatusFromJobs(pipelineDetails, project),
              r => {
                console.log(`failed latest pipeline for ${project.id}. reason ${r}`);
                this.cache_projects_failed.set(project.id, new Date())
                return Promise.resolve({} as Pipeline)
              }
          )
    },
    async retrieveProjectPipelineDetails(projects: GitLabProject[]): Promise<Pipeline[]> {
      interface PromiseProjectCall {
        project: GitLabProject
        promise_call: () => Promise<GitLabPipelineDetails[]>
        schedule_description?: string
        schedule_url?: string
      }

      const promise_calls: PromiseProjectCall[] = []

      if (this.config.beta_show_only_protected_branches) {
        interface GitLabProjectRef {
          project: GitLabProject
          ref: string
        }

        const projects_with_ref: GitLabProjectRef[] = [];
        for (const project of projects) {
          let branches = this.cache_protected_branches_per_project.get(project.id);
          if (branches) {
            // already retrieved
          } else {
            branches = await new GitlabService(this.gitlab!).retrieve_protected_branches(project)
            this.cache_protected_branches_per_project.set(project.id, branches)
          }

          for (const branch of branches) {
            projects_with_ref.push(
                {
                  project: project,
                  ref: branch.name
                }
            )
          }
        }

        projects_with_ref.map((project_with_ref) => {
          const promise_call = () => this.gitlab!.getAllPipelines(project_with_ref.project.id, project_with_ref.ref, !this.config.beta_show_history);
          promise_calls.push({promise_call: promise_call, project: project_with_ref.project})
        })
      } else {
        projects.map((project) => {
          const promise_call = () => this.gitlab!.getAllPipelines(project.id, undefined, !this.config.beta_show_history);
          promise_calls.push({promise_call: promise_call, project: project})
        });
      }

      if (this.config.beta_show_scheduled_builds) {
        for (const project of projects) {
          await this.gitlab!.getPipelineSchedules(project.id).then(
              schedules => {
                schedules.map(schedule => {
                  // console.log(schedule)
                  const pipeline_id = schedule.last_pipeline.id
                  // console.log(promise_call)
                  promise_calls.push({
                    promise_call: () => this.gitlab!.getPipeline(project.id, pipeline_id).then(p => [p]),
                    project: project,
                    schedule_description: schedule.description,
                    schedule_url: project.web_url + "/-/pipeline_schedules"
                  })
                })
              },
              _ => {
                console.log("project " + project.name_with_namespace + " has no schedule builds")
              }
          )
        }
      }

      return await Promise.all(promise_calls.map((promise_call) => {

        const decorate_scheduled_pipelines = (pipeline: Pipeline) => {
          if (promise_call.schedule_description) {
            pipeline.hint = `scheduled: '${promise_call.schedule_description}'`
          }
          pipeline.hint_url = promise_call.schedule_url!
          return Promise.resolve(pipeline)
        };

        return this.avoidTooManyFailedRequests(promise_call.promise_call, promise_call.project)
            .then(decorate_scheduled_pipelines)
      }))
    },
    async getProjectsPipelines(projects: GitLabProject[]): Promise<Pipeline[]> {
      const batch = 5
      const pipelines = [] as Pipeline[]

      const project_map = new Map<number, GitLabProject>();
      for (const p of projects) {
        project_map.set(p.id, p)
      }

      for (let i = 0; i < projects.length; i += batch) {
        const projectSlice = projects.slice(i, i + batch);
        const _pipelines = await this.retrieveProjectPipelineDetails(projectSlice)
        for (const pipeline of _pipelines.filter(p => "projectName" in p)) {
          if (!this.isPipelineZombie(pipeline.details)) {
            if (!pipeline.hint) {
              pipeline.hint = pipeline.details.status
            }
            pipelines.push(pipeline)
          }
        }
      }

      const status_order = this.config.beta_order_by_failures_first ?
          (s1: string, s2: string) => {
            return s1.localeCompare(s2)
          } : () => {
            return 0;
          }

      pipelines.sort((e1: Pipeline, e2: Pipeline) => {
        const _status_order = status_order(e1.details.status, e2.details.status)

        const a = e1.namespace + e1.projectName
        const b = e2.namespace + e2.projectName
        const name_order = a.localeCompare(b)

        return _status_order * 10 + name_order
      })

      // deduplicate pipelines
      // because of scheduled builds
      const pipeline_id_map = new Map<number, Pipeline>()
      pipelines.map(p => {
        pipeline_id_map.set(p.details.id, p)
      })
      return Array.from(pipeline_id_map.values())
    },
    async getGroupsProjects(groups: GitLabGroup[]) {
      const projects = await Promise.all(groups.map((group) => {
        return this.gitlab!.getAllProjects(group.id, {simple: true})
      }))
      return projects.flatMap((a) => a)
    },
    isPipelineZombie(pipeline: GitLabPipelineDetails) {
      return !pipeline.started_at && pipeline.status !== 'pending'
    },
    setError(err: string) {
      this.stopPollingPipelines()
      this.stopPollingProjects()
      this.error = err
    },
    handleError(err: any) {
      this.stopPollingPipelines()
      this.stopPollingProjects()
      this.autoRetry()
      switch (true) {
        case err.code && err.code === 'ECONNABORTED':
          return this.error = `Could not establish connection to '${this.config.url}'.`
        case err.response && (err.response.status === 401 || err.response.status === 403):
          return this.error = `Not authorized to get projects from '${this.config.url}'.`
        case err.response && err.response.status !== 200 || err.response.status !== 203:
          return this.error = `Could not get list of projects from '${this.config.url}'.`
        default:
          // tslint:disable-next-line:no-console
          console.error(err)
          return this.error = 'Something unexpected went wrong.'
      }
    },
    resizeGrid() {
      const tiles = this.$refs.tiles as HTMLDivElement
      if (!!tiles) {
        const grid = tiles.children[0] as HTMLDivElement
        const tile = grid.children[0] as HTMLDivElement
        if (tile) {
          const maxWidth = Math.floor(tiles.offsetWidth / tile.offsetWidth) * tile.offsetWidth
          grid.style.maxWidth = maxWidth + 'px'
        }
      }
    },
  },
  created() {
    if (!this.configuring) {
      this.loadProjects(this.config)
    }
  },
  updated() {
    this.$nextTick(() => {
      this.resizeGrid()
    })
  },
  mounted() {
    window.addEventListener('resize', this.resizeGrid.bind(this))
  },
  destroyed() {
    window.removeEventListener('resize', this.resizeGrid.bind(this))
  },
})
</script>

<style lang="scss">

$red: #dc4644;
$green: #2f9e60;
$grey: #475158;

body {
  @import 'stisla-theme/dist/scss/style.scss';

  &::after {
    display: none;
  }

  min-width: 22rem;
}

#app {
  padding: 2rem;
  position: relative;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  font-family: "Nunito", "Segoe UI", arial, serif;
  font-size: 1rem;
  color: #ffffff;
}

.configuration-form {
  margin-top: 2rem;
  max-width: 50rem;
  width: 100%;
}

.fluid {
  width: 100%;
}

button.options {
  z-index: 2;
  color: #ffffff;
  display: block;
  position: absolute;
  top: 1rem;
  right: 1rem;
  opacity: 1;

  &:hover {
    color: #ffffff;
  }

  svg {
    height: 1.4rem;
    width: 1.4rem;
  }
}

.error-message {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  color: $red;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.5);

  .icon {
    width: 4rem;
    height: 4rem;
    margin-bottom: 1rem;
  }

  p, button {
    color: #ffffff;
  }
}

.tiles {
  display: flex;
  justify-content: center;
}

</style>
